<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/deals">Ofertas</li>
    <li class="breadcrumb-item active">Nova Oferta</li>
  </ol>
</nav>

<form [formGroup]="entryForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações da Oferta
    </div>

    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select id="type" class="form-control" formControlName="type">
            <option value="LOCAL">Local</option>
            <option value="PRODUCT">Produto</option>
            <option value="TRAVEL">Viagem</option>
          </select>

          <div class="text-danger" *ngIf="entryForm.get('type').invalid && entryForm.get('type').touched">
            <div *ngIf="entryForm.get('type').errors.required">campo obrigatório</div>
          </div>
        </div>

        <div class="form-group col-md-5">
          <label for="title">Título</label>
          <input type="text" id="title" class="form-control" formControlName="title">

          <div class="text-danger" *ngIf="entryForm.get('title').invalid && entryForm.get('title').touched">
            <div *ngIf="entryForm.get('title').errors.required">campo obrigatório</div>
            <div *ngIf="entryForm.get('title').errors.minlength">deve ter no mínimo 2 caracteres</div>
            <div *ngIf="entryForm.get('title').errors.maxlength">deve ter no máximo 255 caracteres</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <div class="form-row">
            <div class="col-lg-12 col-md-12 col-sm12">
              <label for="publishDate">Data de Publicação</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm12">
              <input class="form-control" type="date" id="publishDate" formControlName="publishDate">
            </div>
          </div>

          <div class="text-danger" *ngIf="entryForm.get('publishDate').invalid && entryForm.get('publishDate').touched">
            <div *ngIf="entryForm.get('publishDate').errors.required">campo obrigatório</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="validity">Validade da Oferta</label>
          <input class="form-control" type="number" id="validity" formControlName="validity">

          <div class="text-danger" *ngIf="entryForm.get('validity').invalid && entryForm.get('validity').touched">
            <div *ngIf="entryForm.get('validity').errors.required">campo obrigatório</div>
            <div *ngIf="entryForm.get('validity').errors.min">deve ter no mínimo 1 dia</div>
            <div *ngIf="entryForm.get('validity').errors.max">deve ter no máximo 30 dias</div>
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-12">
          <label for="text">Descrição</label>
          <input type="text" id="text" class="form-control" formControlName="text">

          <div class="text-danger" *ngIf="entryForm.get('text').invalid && entryForm.get('text').touched">
            <div *ngIf="entryForm.get('validity').errors.required">campo obrigatório</div>
            <div *ngIf="entryForm.get('text').errors.maxlength">deve ter no máximo 255 caracteres</div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="alert alert-danger mt-2" *ngIf="errorMessages && errorMessages.length > 0">
    <strong>Erro no servidor</strong>
    <ul>
      <li *ngFor="let error of errorMessages">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="entryForm.invalid" type="submit"
          class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>
